/*WELCOME*/
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #74C69D;
    color:white;
    padding: 10px 20px 35px;
}
.welcome img{
    width: 350px;
}
.welcome-text{
    margin-right: 20px;
}
.welcome h2{
    margin: 15px 0px;
}
.welcome-btn.btn{
    background-color: white;
    color: black;
}

/*PARTNERS*/
.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
}
.partners p, .partners h2, .partners div{
    margin: 10px;
}
.logos{
    display: flex;
    flex-direction: column;
}
.logos img{
    width: 150px;
    margin: 15px;
}

/*ARTICLES*/
.article{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article img{
    width: 300px;
    justify-content: center;
}
.article-text{
    padding: 10px 50px;
}

/*TEAM*/
.team{
    padding: 15px 20px;
}
.team-members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-cards{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 25px 45px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: max-content;
}
.team-cards img{
    justify-content: center;
    border-radius: 500px;
    border: 1px solid black;
}
.team-cards p{
    margin: 0px;
}

/*DESKTOP*/
@media screen and (min-width:768px) {
    .welcome{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0px 25px;
        margin: 0px;
    }
    .welcome-text{
        order:1;
        max-width: 350px;
    }
    .welcome img{
        order:2;
        width: 350px;
    }
    .logos{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .article{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .article-text{
        max-width: 550px;
    }
    .article2{
        order:1
    }
    .article2img{
        order:2
    }
    .team{
        text-align: center;
    }
    .team-members{
        flex-direction: row;
    }
}